{% extends "navbar.html" %}

{% load static %}

{% block content %}
<h1>Le Mie Prenotazioni</h1>

<div class="container mt-4">
    <!-- Visualizzazione delle prenotazioni dell'utente come card con una card per riga e un gap tra le card -->
    <div class="row mt-4">
        {% for prenotazione in prenotazioni_utente %}
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ prenotazione.campo }} - {{ prenotazione.orario }}</h5>
                        <p>Data: {{ prenotazione.data|date:'l, d F Y' }}</p>
                        <p>Durata: {{ prenotazione.durata }} ore</p>
                        <!-- Altri dettagli della prenotazione se necessario -->

                        <div style="text-align: left;">
                            <!-- Aggiungi altri elementi a tuo piacimento -->
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if prenotazioni_utente.count == 0 %}
            <p>Nessuna prenotazione trovata.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
